$verde-principal: #388e3c;  
$verde-claro: #81c784;
$gris-claro: #e0e0e0;
$gris-oscuro: #424242;
$blanco: #f8f8f8;
$negro: #000000;


$primary: $verde-principal;
$secondary: $gris-claro;
$light: $blanco;
$dark: $gris-oscuro;
