@use "../abstracts/variables" as *;

.cards {
    padding: 2rem;
}

.cards__image {
    border-radius: 4px;
}

.cards__title {
    color: $verde-principal; 
    font-size: 1.25rem; 
}

.cards__description {
    color: $gris-oscuro; 
    font-size: 1rem;
}

.cards__description--size {
    color: $verde-principal;
    font-weight: bold;
}

.cards__button {
    background-color: $verde-principal;
    border-color: $verde-principal;
    color: $blanco;
    &:hover {
        background-color: darken($verde-principal, 10%); 
        border-color: darken($verde-principal, 10%);
    }
}