@use "../abstracts/variables" as *;

.footer {
    background-color: $gris-oscuro !important;

    .footer__text {
        font-size: 14px;
        color: $blanco;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
    }
}